{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
<div class="Island-Quizzes">
	<div>
		<h2>{% trans "List of quizzes" %}</h2>
	</div>

	<div style="display: block;width: 100%;height: 80%;">
	{% if quiz_list %}
		<table class="Quiz-list">

		  <thead>
			<tr class="Q-row">
			  <th class="Q-column">{% trans "Title" %}</th>
			  <th  class="Q-column">{% trans "Category" %}</th>
			  <th  class="Q-column">{% trans "Exam" %}</th>
			  <th  class="Q-column">{% trans "Single attempt" %}</th>
			  <th ></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr class="Q-row">
			  <td class="Q-column">{{ quiz.title }}</td>
			  <td  class="Q-column">{{ quiz.category }}</td>
			  <td  class="Q-column">{{ quiz.exam_paper }}</td>
			  <td  class="Q-column">{{ quiz.single_attempt }}</td>
			  <td>
				<a href="{% url 'quiz_start_page' slug=quiz.url %}">
				  {% trans "View details" %}
				</a>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

		{% else %}
        	<p>{% trans "There are no available quizzes" %}.</p>
    	{% endif %}

	</div>
    
</dvi>


	<script>
        window.addEventListener('load',function(){
            document.getElementById("Ceditor").style.alignItems = "center";
			document.getElementById("Ceditor").style.justifyContent = "center";
        })
    </script>
{% endblock %}
