{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}

<div class="Quiz-island">
  <div class="up">
    <h2 style="padding: 0;margin: 0;">{{ quiz.title }}</h2>
  </div>
  <div class="down">
    <h2>Category : <br> &emsp;&emsp;{{ quiz.category }}</h2>
    {% if quiz.single_attempt %}
      <h4>{% trans "You will only get one attempt at this quiz" %}.</h4>
    {% endif %}
    <p>Description : <br> &emsp;&emsp;{{ quiz.description }}</p>

    <button class="btn-start" onclick="Quizstart()"> Start Quiz </button>
  </div>
</div>
  

<script>
  window.addEventListener('load',function(){
      document.getElementById("Ceditor").style.alignItems = "center";
document.getElementById("Ceditor").style.justifyContent = "center";
  })
  function Quizstart(){
    let path = "{% url 'quiz_question' quiz_name=quiz.url %}";
    location.href = path;
  }
</script>
{% endblock %}

