{% extends "base.html" %} {% block content %}
<div class="Login-local-content">
    <div class="Login-Island">
            <h1 class="Login-title-text">Login</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="L-Input-fields">
                    <input type="text" class="form-control" placeholder="Enter Registeration Id" name="username">
                </div>
                <div class="L-Input-fields">
                    <input type="password" class="form-control" placeholder=" Enter Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

{% endblock %}