{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}
{% block description %} {% trans "User Progress Page" %} {% endblock %}

{% block content %}

  {% if cat_scores %}

  <h1>{% trans "Question Category Scores" %}</h1>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr class="Q-row">
		<th class="Q-column">{% trans "Category" %}</th>
		<th class="Q-column">{% trans "Correctly answererd" %}</th>
		<th class="Q-column">{% trans "Incorrect" %}</th>
		<th class="Q-column">%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr class="Q-row">
		<td class="Q-column">{{ cat }}</td>
		<td class="Q-column">{{ value.0 }}</td>
		<td class="Q-column">{{ value.1 }}</td>
		<td class="Q-column">{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}

  {% if exams %}

  <hr>
  

<h1>{% trans "Previous exam papers" %}</h1>
  <p class="lead">
	{% trans "Below are the results of exams that you have sat." %}
  </p>
  <!--
  {% for cat in cat %}
  		<h1 id="Divnamesetter" style="display: none;">{{ cat }}</h1>
  		<div style="width: 200px;height: 400px;background-color: gray;">
			
		</div>
  {% endfor %}
	-->

  <table class="table table-bordered table-striped">

	<thead>
	  <tr class="Q-row">
		<th class="Q-column">{% trans "Quiz Title" %}</th>
		<th class="Q-column">{% trans "Score" %}</th>
		<th class="Q-column">{% trans "Possible Score" %}</th>
		<th class="Q-column">%</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr class="Q-row">
		<td class="Q-column">{{ exam.quiz.title }}</td>
		<td class="Q-column">{{ exam.current_score }}</td>
		<td class="Q-column">{{ exam.get_max_score }}</td>
		<td class="Q-column">{{ exam.get_percent_correct }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>

  {% endif %}

  
  

  <script>
	window.addEventListener('load',function(){
		document.getElementById("Ceditor").style.display = "block";
	})
  </script>



{% endblock %}
