html{
    background-color: #b6aa91;
    height: 90%;
}
.Header{
    max-height: 20%;
    display: flex;
    z-index: 0;
    background-color: #ffffff59;
}
.Dropdown{
    max-width: 10%;
    max-height: 90%;
    align-items: center;
    align-content: left,center;
    margin: auto;
}
.Title{
    width: 80%;
    text-align: center;
    max-height: 100%;
}
.Logins{
    width: 10%;
    align-content: right;
    margin: auto;
    text-align: right;
    
}
.Titletext{
    font-size: 200%;
}
.Cover{
    height: 90%;
    width: 100%;
    z-index: -2;
    background-image:url(Images/5529077.jpg);
}
body{
    margin: 0px;
    height: 100%;
}
.btn{
    border-radius: 10px;
    box-shadow: 0px 0px 40px 20px #444a4d;
    background-color: #720e1e;
    color: white;
    border-color: #444a4d00;
    height: 90%;
}
.Contentsunder{
    height: 50%;
    text-align: center;
    align-content: center;
}
.Introductorytext{
    color: #09182c;
}
