<!doctype HTML>
<html>
    
    <head>
    <meta charset="UTF-8">
    <title>Vision || Mathematics</title>
    <link rel="stylesheet" href="/static/CSS/main.css">
    <link href="https://cdn.jsdeliver.net/npm/boostrap@5.1.3/dist/css/bootstrap.min.css"rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
    
        <div class="Cover">
            <div class="Header">
                <div class="Dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
                <div class="Title">
                    <a href="./Index.html"><img src="/templates/Images/Drawing-1.sketchpad__1_-removebg-preview.png" class="Logo"></a> 
                </div>
                <div class="Logins">
                    <script>
                        function Changewindow(path){
                            
                            window.location.href = path; 
                        }
                    </script>
                    <button class="btn" type="submit" onclick="Changewindow('Login.html')">Login or register</button>
                </div>
            
            </div>
        </div>
        <div class="Contentsunder">
            <h1 class="Introductorytext">
                A place for the High landers or the future ones
            </h1>
        </div>
    
    </body>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
</html>