<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vision | Login</title>
        <link rel="stylesheet" href="/static/CSS/Login.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <div id="SideNav">
            <div class="NavPage">
                <div class="NavTitle">
                    <h1 style="font-family: monospace;">V I S I O N</h1>
                </div>
                <div id="Spacer">
                    &nbsp;
                </div>
                <div style="height: 1%;width: 100%;background-color: #292c3c;">
                    &nbsp;
                </div>
                <div class="Shortcut">
                    <button id="Shortcut-buttons">Assignments</button>
                </div>
                <div style="height: 1%;width: 100%;background-color: #292c3c;">
                    &nbsp;
                </div>
                <div class="Shortcut">
                    <button id="Shortcut-buttons">Upcoming tests</button>
                </div>
                <div style="height: 1%;width: 100%;background-color: #292c3c;">
                    &nbsp;
                </div>
                <div class="Shortcut">
                    <button id="Shortcut-buttons">Past tests</button>
                </div>
                <div style="height: 1%;width: 100%;background-color: #292c3c;">
                    &nbsp;
                </div>
                <div style="height: 19%;width: 100%;">
                    &nbsp;
                </div>
                <div class="LowerFill">
                    <button id="NavLogin">Login</button><br>
                    <h1 style="font-size: 100%;">OR</h1>
                    <button id="NavRegister";>Register</button>
                </div>
            </div>
            <div class="CloseNav">
                <button id="CloseNav" style="font-size:30px;cursor:pointer" onclick="CloseNav()">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
                
        </div>
        <div class="Header">
            <div class="Dropdown">
                <button id="Dropdown" style="font-size:30px;cursor:pointer" onclick="OpenNav()">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
            <div class="Middle-area">
                <h1>V I S I O N</h1>
            </div>
            <div class="Buttons">
                &nbsp;
            </div>
        </div>
        <div class="contentarea">
            <div class="Island">
                <div class="Island-text">
                    <h1>
                        Login
                    </h1>
                </div>
                <div class="Island-input">
                    <input type="text" class="EmailBox" placeholder="Email">
                    <div style="height: 5%; width: 100%;">
                        &nbsp;
                    </div>
                    <input type="password" class="PasswordBox" placeholder="Password"><br>
                    <div style="height: 5%; width: 100%;">
                        &nbsp;
                    </div>
                    <button class="Loginbtn">Login</button>
                    <div style="height: 2%; width: 100%;">
                        &nbsp;
                    </div>
                    <a href="{% url 'signup' %}" class="RegLink">Don't have an account?</a>
                </div>
            </div>
        </div>
        <script>
            function OpenNav(){
                document.getElementById("SideNav").style.width="20%";
            }
            function CloseNav(){
                document.getElementById("SideNav").style.width="0";
            }
            function ToRegister(){           
                window.location.href = "{% url 'signup' %}"; 
            }
        </script>
    </body>
</html>